/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-size: 15px;
}
body {
  margin: 0 auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 2em 2em 0 2em;
}
